Flask==1.1.4
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
Flask-Migrate==2.6.0
flask-restplus==0.13.0
flask-restx==0.5.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
Jinja2==2.11.3
MarkupSafe==2.0.1
patch-api==1.20.0
python-dotenv==0.20.0
PyYAML==6.0
requests==2.27.1
SQLAlchemy==1.4.36
PyMySQL==1.1.0
pyScss==1.4.0
Flask-Assets==2.0
marshmallow==3.16.0
stripe==5.4.0
pandas==2.0.2
sendgrid==6.10.0